extends ../layouts/master.jade

append titlePage
  title Content upload - RestWalk

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade
  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .product.page-content-wrapper
      .page-content
        .page-bar
          ul.page-breadcrumb
            li
              span 프로그램 관리
        // .page-bar
        
        ="\n"
        .product-main.rw-pb-50
          .block-1
            .tabbable-custom
              ul.nav.nav-tabs
                li.active
                  a(href='contents_detail.html') 상세내용
                li
                  a(href='contents_detail_comment.html') 댓글

              ="\n"
              .tab-content
                .tab-product.tab-pane.active
                  .rw-gap(style='border-top: 0 none; padding-bottom: 15px;')

                  ="\n"
                  .portlet.box
                    .portlet-body
                      form.form_sample_3.form-horizontal(action='#')
                        .form-body
                          .form-group
                            label.control-label.col-md-3
                              | 카테고리 
                              //- span.required *
                            .col-md-3
                              select.form-control.select2me(name='options2')
                                option(value='') 카테고리
                                option(value='언어') 언어
                                option(value='지식/비즈') 지식/비즈
                                option(value='운동') 운동
                                option(value='라이프') 라이프
                                option(value='건강') 건강
                                option(value='뷰티') 뷰티
                                option(value='문화') 문화
                                option(value='소셜') 소셜
                          .form-group
                            label.control-label.col-md-3
                              | 프로그램 제목 
                              //- span.required *
                            .col-md-6
                              input.form-control(type='text', name='name', data-required='1')
                          .form-group
                            label.control-label.col-md-3
                              | 프로그램 부연설명
                              //- span.required *
                            .col-md-6
                              input.form-control(type='text', name='name', data-required='1')  
                         .form-group
                            label.control-label.col-md-3
                              | 대표 이미지
                              //- span.required *
                            .col-md-6
                              div
                                .radio-list(data-error-container='#form_2_membership_error', style="margin-bottom: 10px;")
                                  label.radio-inline
                                    input(type='radio', name='membership', value='1')
                                    | 이미지
                                  label.radio-inline
                                    input(type='radio', name='membership', value='2')
                                    | 동영상
                              div
                                // MINIMUM IMAGE DIMENSIONS
                                input#input-dim-1.file-loading(name='inputdim1[]', type='file', multiple='', accept='image/*', style="margin-bottom: 15px;")
                                script.
                                  $("#input-dim-1").fileinput({
                                    uploadUrl: "/file-upload-batch/2",
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    minImageWidth: 50,
                                    minImageHeight: 50
                                  });
                              div
                                input.form-control(type='text', name='name', data-required='1', placeholder="URL video")  
                          
                          .form-group
                            label.control-label.col-md-3
                              | 내용
                              //- span.required *
                            .col-md-6
                              textarea.form-control.textarea-autosize(rows='5', placeholder='Autosizeme...')  
                          
                          .form-group
                            label.control-label.col-md-3
                              | 연관 카테고리 프로그램
                            .col-md-6
                              div
                                label.control-label 1. [지식/비즈]  현명한 소비습관
                                .controls-button  
                                   a.btn.blue(href="#", data-toggle='modal', data-target="#popupContentSearch", type='button', style="padding: 7px 29px; margin-right: 15px;") 검색
                                   a.btn.default(href="#", data-toggle='modal', style="padding: 7px 29px;", data-target='#popupConfirmDelete') 삭제
                              div
                                label.control-label 2. [지식/비즈]  현명한 소비습관
                                .controls-button  
                                   a.btn.blue(href="#", data-toggle='modal', data-target="#popupContentSearch", type='button', style="padding: 7px 29px; margin-right: 15px;") 검색
                                   a.btn.default(href="#", data-toggle='modal', style="padding: 7px 29px;", data-target='#popupConfirmDelete') 삭제
                          
                          .form-actions.text-center
                            a.btn.red(href="#", data-toggle='modal', style="padding: 7px 29px;", data-target='#popupConfirmDelete') 삭제
                            a.btn.green.btn-sumbit(href='#') 수정
                                                           
          // .block-1
        // .product-main
      // .page-content
    // .product
  //.page-container
  
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupContentSearch.jade

  ="\n"
  include ../includes/popupConfirmDelete.jade
