extends ../layouts/master.jade

append titlePage
  title Countselor - Hello

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade
  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .page-content-wrapper.countselor

        .page-content
          .container
            ="\n"
            .sidebar-left
              include ../includes/page-sidebar-left.jade
            .main-body-content.member-page
              .page-bar
                ul.page-breadcrumb
                  li
                    a(href="home.html").home 
                      i.fa.fa-home
                      | 홈
                  li
                    a(href="home.html") 회원 관리
                  li
                    a(href="home.html") 상담사
              // .page-bar
              
              ="\n"
              form.form_sample_3
                .member-main-top.border-full
                  .item-count.stylev2
                    .item-left
                      span.title 사업자 구분 :
                      .left-ct
                        .checkbox-list(data-error-container='#form_2_services_error')
                          label
                            input(type='checkbox', value='1', name='service')
                            |  프리랜서   
                          label
                            input(type='checkbox', value='2', name='service')
                            |  센터 소속
                        .select-option
                          select.form-control.selectpickermember(name='selecttext',title='성명')
                              option(value='0') 2015
                              option(value='1') 2015
                              option(value='2') 2015
             
                    .item-right
                      span.title 상담분야 :
                      .left-ct
                        span 전체
                        a.btn.green.countselor-list-popup(href="#") 분야 선택
                          
                  .item-count.stylev2
                    .item-left
                      span.title 연령 :
                      .left-ct
                        .checkbox-list(data-error-container='#form_2_services_error', style="margin-bottom: 10px;")
                          label
                            input(type='checkbox', value='1', name='service')
                            |  0~10대   
                          label
                            input(type='checkbox', value='2', name='service')
                            |  20대
                          label
                            input(type='checkbox', value='1', name='service')
                            |  30대   
                          label
                            input(type='checkbox', value='2', name='service')
                            |  40대
                          label
                            input(type='checkbox', value='2', name='service')
                            |  50대 이상
             
                    .item-right
                      span.title AIMMED 추천 :
                      .left-ct
                        .checkbox-list(data-error-container='#form_2_services_error')
                          label
                            input(type='checkbox', value='2', name='service')
                            |  YES
                          label
                            input(type='checkbox', value='2', name='service')
                            |  NO
                  .item-count.stylev2(style="margin-top: -25px;")
                    .item-left
                      span.title 활성화 :
                      .left-ct
                        .checkbox-list(data-error-container='#form_2_services_error', style="margin-top: 16px;")
                          label
                            input(type='checkbox', value='1', name='service')
                            |  ON   
                          label
                            input(type='checkbox', value='2', name='service')
                            |  OFF
                    .item-right
                      span.title 상태 :
                      .left-ct(style="padding-top: 0;")
                        .checkbox-list(data-error-container='#form_2_services_error')
                          label
                            input(type='checkbox', value='2', name='service')
                            |  정상
                          label
                            input(type='checkbox', value='2', name='service')
                            |  제재  
                          label
                            input(type='checkbox', value='2', name='service')
                            |  노출 중지
                          label(style="width: 100%;")
                            input(type='checkbox', value='2', name='service')
                            |  탈퇴 
                        
                  .item-top(style="padding-left: 120px;")
                    .left(style="width120px;")
                      span 키워드 :
                    .right 
                      .item
                        select.form-control.select2me(name='options2')
                          option(value='') Select...
                          option(value='Option 1') Option 1
                          option(value='Option 2') Option 2
                          option(value='Option 3') Option 3
                          option(value='Option 4') Option 4
                      .item
                        input.form-control(type='text', name='name', data-required='1', style="min-width: 350px;")
                .link-submit
                  button.btn.green(type='submit') 검색


              .member-title-table
                .md-ct
                  span.title 가입 회원  :
                  span 100건
                  select.form-control.select2me.pull-right(name='options2')
                    option(value='') 최근 가입 순...
                    option(value='Option 1') Option 1
                    option(value='Option 2') Option 2
                    option(value='Option 3') Option 3
                    option(value='Option 4') Option 4
              .table-member-mng.table-responsive
                table.table.table-striped.table-bordered.table-hover.text-center
                  thead
                    tr
                      th 번호
                      th 아이디
                      th 회원명
                      th 생년월일
                      th 소속
                      th 상담권
                      th 헬로코인
                      th 가입일시
                      th 상태
                  tbody
                    tr
                      td 10
                      td aa@aim.com
                      td 
                        a(href="member-detail.html") 홍길동
                      td 1983-02-18
                      td 메트라이프신세계
                      td 1
                      td 30,000
                      td 
                        p 2016-03-10 
                        p 15:00:00
                      td 정상
                      
              //.table-member-mng
              .link-dowload
                button.btn.green 엑셀 다운로드

              ="\n"
              include ../includes/rw-pagination.jade
              // .block-1
            // .member-main
        // .page-content
    // .member
  //.page-container
  
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupCountselor.jade
