extends ../layouts/master.jade

append titlePage
  title Edit My Info

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade

  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .member.page-content-wrapper.counseling-history.massage.find-id
      .page-title(style="margin-bottom: 15px;")
        .title
          span 아이디 및 비밀번호 찾기
        .title-ct 
          span 회원 아이디 및 비밀번호 찾기
      .page-content.inquiry
        .container
          .main-top.border-full.bg-fff
            .tabbable-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#tab-11', data-toggle='tab') 
                   span 기본 정보 
                   i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-12', data-toggle='tab') 
                    span 서비스 노출 정보
                    i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-13', data-toggle='tab') 
                    span 탈퇴 신청
                    i.fa.fa-caret-down(aria-hidden="true")

              ="\n"
              .tab-content
                #tab-11.tab-10.tab-pane.active
                  .module-content 
                    form
                      .main-item
                        h5 회원정보에 등록한 정보와 동일한 정보를 입력해주세요.
                        .item-content
                          .item
                            .title 이름 
                            .col-md-3
                              input.form-control(type='text', name='name', data-required='1')
                          .item
                            .title 휴대폰 번호 
                            .item-row
                              .col-md-12
                                input.form-control(type='text', name='name', data-required='1',placeholder="-없이 입력")
                                button 인증번호 발송
                              .col-md-12
                                input.form-control(type='text', name='name', data-required='1',placeholder="인증번호 입력")
                                button 인증번호 확인
                                span.time 02:55
                      .main-submit
                        button 
                          span 다음
                    
                #tab-12.tab-10.tab-pane
                  .module-content 
                    span 3232

                #tab-13.tab-10.tab-pane
                  .module-content dsdds3232323

    include ../includes/footer.jade




          ="\n"
          
            // .block-1
          // .member-main
      // .page-content
    // .member

  //.page-container
  
  ="\n"
  include ../includes/popupConfirmDelete.jade 
  ="\n"
  include ../includes/popup-preview-mobile-acc.jade 
  
  
