extends ../layouts/master.jade

append titlePage
  title Counselor Registration

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade

  
  ="\n"
  .page-container
    //- include ../includes/page-sidebar.jade

    ="\n"
    .member.page-content-wrapper.counseling-history.register
      .page-title
        .title
          span 심리상담사 등록 신청
      .page-content
        .container
          #slide-register
            .owl-carousel.owl-theme
              .item.slide1
                .item-title
                  span 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.
                .item-content.row
                  .item-main-content
                    .item-ct
                      .item-top
                        span.title 서비스 이용약관
                        .item.radio-checkboxstyle2
                          input(type='checkbox', value='1', name='service', checked)
                          span ko lay dc text
                      .content
                        p text note ra day
                        p 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.

                  .item-main-content
                    .item-ct
                      .item-top
                        span.title 개인정보 취급방침
                        .item.radio-checkboxstyle2
                          input(type='checkbox', value='1', name='service')
                          span ko lay dc text
                        .top-note 약관에 동의해주세요!
                      .content
                        p text note ra day
                        p 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요. 아래의 서비스 이용약관과 개인정보 취급방침 내용을 반드시 읽어 보시고 동의해 주세요.
                .main-submit
                  button.next-slide 
                    span 신청 취소
                  button.v2 
                    span 다음 단계 
              .item.form-register
                .item-main-content
                  .item-main 
                    .item-top
                     span.number 01
                     span.title 가입을 위한 기본 정보를 입력해 주세요. 
                    .item-content
                      .content-top
                        .md-content
                          .md-item
                            span.title 아이디(이메일)
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1')
                              button.register 중복확인
                          .md-item
                            span.title 비밀번호 변경
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1',placeholder='8-20자 이내, 영문+숫자+특수문자 혼용')
                          .md-item
                            span.title 비밀번호 확인
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1',placeholder='8-20자 이내, 영문+숫자+특수문자 혼용')
                          .md-item
                            span.title 이름
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1')
                          .md-item(style="height: 64px;")
                            span.title 휴대폰번호
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1',placeholder='-없이 입력')
                              button.register 인증번호 발송
                            .item-ct.input-form
                              input.form-control(type='text', name='name', data-required='1',placeholder='인증번호 확인')
                              button.register 인증번호 확인
                              span.date 02:55
                          .md-item
                            span.title 생년월일
                            .item-ct.input-form
                              .item-select
                                select.form-control.selectpickermember(name='selecttext',title='성명')
                                  option(value='0') 2015
                                  option(value='1') 2015
                                  option(value='2') 2015
                                span.note-select 년
                              .item-select
                                select.form-control.selectpickermember(name='selecttext',title='성명')
                                  option(value='0') 12
                                  option(value='1') 11
                                  option(value='2') 08
                                span.note-select 월
                              .item-select
                                select.form-control.selectpickermember(name='selecttext',title='성명')
                                  option(value='0') 12
                                  option(value='1') 11
                                  option(value='2') 08
                                span.note-select 일
                          .md-item(style="height: 64px;")
                            span.title khong lay dc text
                            .item-ct(style="height: 28px;")
                              span.content * 저장 후에는 수정 불가
                            .item-ct.input-form
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service', checked)
                                span.note-radio 개인
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service')
                                span.note-radio 센터 소속
                              .item-select.style2
                                select.form-control.selectpickermember(name='selecttext',title='성명')
                                  option(value='0') 12
                                  option(value='1') 11
                                  option(value='2') 08
                  .item-main 
                    .item-top
                     span.number 02
                     span.title 사용자들에게 보여지는 심리상담사 정보를 입력해 주세요. 
                    .item-content
                      .content-top
                        .md-content
                          .md-item(style="height: 74px;")
                            span.title 프로필 이미지
                            .item-ct.input-form
                              //- .avatar
                              //-   .img-avatar
                              //-     img(src='../../assets/images/avatar_men.png', alt='avatar')
                              //-   p.note-avatar 프로필 사진은 내담자에게 가장 먼저 보여집니다.
                              //-   p.note-avatar 신뢰감을 줄 수 있도록 단정한 사진을 등록해주세요.(정면 사진, 하얀색 배경 권장)
                              .inputfile.avatar
                                .tr-file-upload.image-upload
                                  .preview-image.img-avatar
                                    img(src="../../assets/images/avatar_men.png", alt='avatar')
                                  p.note-avatar 프로필 사진은 내담자에게 가장 먼저 보여집니다.
                                  p.note-avatar 신뢰감을 줄 수 있도록 단정한 사진을 등록해주세요.(정면 사진, 하얀색 배경 권장)
                                  label.btn.green.btn-select-file
                                    | 찾아보기
                                    input.hidden.input-file(type="file")
                                  //- span.help-inline 선택된 파일 없음.
                                  .input-icon.input-large.input-inline.right
                                    //- span.btn-delete
                                    //- span.show-file-info
                                  .note-img
                                    p . jpg, gif, png (3MB 이하)
                                    p . 최소 300x300px 정사각형 형태로 업로드
                          .md-item(style="height: 122px;")
                            span.title 상담 분야
                            .item-ct.input-form
                              .row-check.all-check
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 심리적 증상 (우울 . 불안 . 분노)
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 성격 및 자기 이해
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 가족 관계
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 직장 생활 (직업)
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 학업 및 진로
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 대인 관계
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 성 문제
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 중독 및 섭식장애
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 자녀 양육    
                                  span.last-note*상세 체크 필수
                              .row-check.all-check.border
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 정서 및 행동 문제
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 또래 관계
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 가족 관계 
                                .item.radio-checkboxstyle2
                                  input#test-check1(type='checkbox', value='1', name='service')
                                  span 학업 및 진로
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 성
                                .item.radio-checkboxstyle2
                                  input(type='checkbox', value='1', name='service', checked)
                                  span 중독 및 섭식장애

                          .md-item(style="height: 123px;")
                            span.title 소개 문구
                            .item-ct.input-form
                              textarea.rw-ckeditor.form-control(name='editor2', rows='5', data-error-container='#editor2_error', maxlength="500")
                              span.max-leng 0/500
                          .md-item(style="height: 105px;")
                            span.title 학력
                            .item-ct(style="height: 28px;")
                              span.content . 최종 졸업 학교를 입력 후 졸업증명서를 업로드 해주세요.
                            .item-ct.input-form
                              .item-list
                                .item-radio
                                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                    label
                                      input.radio1(type='radio', value='1', name='service', checked)
                                input.form-control(type='text', name='name', data-required='1')
                                span.note-input 대학교 입력
                                input.form-control(type='text', name='name', data-required='1')
                                span.note-input 전공 입력
                                button.register 찾아보기
                                span 홍길동_졸업증명서_jpg
                                span.remove
                              .item-list
                                .item-radio
                                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                    label
                                      input.radio1(type='radio', value='1', name='service')
                                input.form-control(type='text', name='name', data-required='1',placeholder='')
                                span.note-input 대학교 입력
                                input.form-control(type='text', name='name', data-required='1',placeholder='')
                                span.note-input 전공 입력
                                button.register 찾아보기
                          .md-item.stylev2(style="height: 108px;")
                            span.title 주요 약력
                            .item-ct.input-form
                              .item-list
                                input.form-control(type='text', name='name', data-required='1',value='현재 서울대학교 심리학과 교수',style="width: 302px;")
                              .item-list
                                input.form-control(type='text', name='name', data-required='1',placeholder='대학교 입력',style="width: 302px;")
                                button.register(style="padding: 0 5px;")
                                  span.empty
                                  span 삭제
                              .item-list
                                button.register(style="margin-left: 0;") + 추가
                                span.last-note *상세 체크 필수
                          .md-item(style="min-height: 420px;")
                            span.title 자격증
                            .item-ct(style="height: 28px;")
                              span.content . 필수 선택 포함 최대 5개까지 등록 가능 
                              span.content.color2 필수 선택 (중복 선택 가능) 
                            .item-ct.input-form
                              .item-list-style2.itemdes-style
                                .item-list-left
                                  .top
                                    span.content (사)한국상담학회 
                                  .list-main
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service', checked)
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service')
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service')
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                                .item-list-left
                                  .top
                                    span.content (사)한국상담학회 
                                  .list-main
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service', checked)
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service')
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                                    .item-main
                                      .item-check
                                        .item.radio-checkboxstyle2
                                          input(type='checkbox', value='1', name='service')
                                      .item-des
                                        p 전문상담사 1급 (수련감독자)
                                      .item-main-ct
                                        button.register.none-float 자격증 사본 등록
                                        p
                                          span 홍길동_졸업증명서
                                          span.remove
                              
                            .item-ct.input-form
                              span.content 추가 등록
                              .item-list
                                input.form-control(type='text', name='name', data-required='1',placeholder='대학교 입력')
                                input.form-control(type='text', name='name', data-required='1',placeholder='전공 입력')
                                input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='취득연월 (YYYy,mm)')
                                button.register(style="padding: 0 5px;")
                                  span.empty
                                  span 삭제
                              .item-list
                                button.register(style="margin-left: 0;") 찾아보기
                                span 홍길동_졸업증명서_jpg
                                span.remove
                            .item-ct.input-form
                              
                              .item-list(style="margin-top: 10px;")
                                button.register(style="margin-left: 0;") + 추가
                          .md-item.stylev2.style-list(style="min-height: 60px;")
                            span.title 증명 서류 등록
                            .item-ct.input-form
                              span.content ※ 이력서 및 기타 증명서를 등록해주세요. (중복 등록가능)
                              .item-list(style="margin-top: -4px;")
                                button.register(style="margin-left: 0;") 찾아보기
                                .list-remove
                                  .item-list-remove
                                    span 홍길동_졸업증명서_jpg
                                    span.remove
                                  .item-list-remove
                                    span 홍길동_졸업증명서_jpg
                                    span.remove
                          .md-item(style="min-height: 52px;")
                            span.title(style="top: 20px;line-height: 16px;") 자격증 취득 후 상담 횟수
                            .item-ct.input-form(style="padding-top: 10px;")
                              .item-select.style2
                                select.form-control.selectpickermember(name='selecttext',title='성명')
                                  option(value='0') 상담횟수 선택
                                  option(value='1') 상담횟수 선택
                                  option(value='2') 상담횟수 선택
                  .item-main.style2 
                    .item-top
                     span.number 03
                     span.title 가입을 위한 기본 정보를 입력해 주세요. 
                    .item-content(style="padding-bottom: 30px;")
                      .content-top
                        .md-content
                          .md-item(style="height: 64px;")
                            span.title(style="margin-top: -20px;") (주)어세스타 교육 수료 여부
                            .item-ct.input-form(style="border-bottom: 1px dotted #cdcdcd;margin-bottom: 5px;")
                              span.content(style="float: left;margin-right: 10px;width: initial;") MBTI 자격교육 보수과정을 수료하셨습니까?
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service', checked)
                                span.note-radio 예
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service')
                                span.note-radio 아니오
                              input.form-control(type='text', name='name', data-required='1',placeholder='수료번호 입력')
                            .item-ct.input-form
                              span.content(style="float: left;margin-right: 10px;width: initial;") MBTI 자격교육 보수과정을 수료하셨습니까?
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service', checked)
                                span.note-radio 예
                              .item-radio
                                .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                                  label
                                    input.radio1(type='radio', value='1', name='service')
                                span.note-radio 아니오
                              input.form-control(type='text', name='name', data-required='1',placeholder='수료번호 입력')
                              
                    .main-submit
                        button.submit 신청 완료      
                              
                          
                              





                          
                        
              .item.slide3
                .item-content
                  .item-title
                    span 감사합니다. 등록 신청이 완료되었습니다.
                  .text-content
                    p 감사합니다. 등록 신청이 완료되었습니다. 
                    p 5일 정도 소요됩니다. 심사 결과는 입력하신 
                .main-submit
                  button 
                    span 신청 취소

    include ../includes/footer.jade




          ="\n"
          
            // .block-1
          // .member-main
      // .page-content
    // .member

  //.page-container
  
  ="\n"
  include ../includes/popupregister.jade
  ="\n"
  include ../includes/popupConfirmDelete.jade 
  
  
