extends ../layouts/master.jade

append titlePage
  title Report Statistic
  style.
    .block-search-date{
      display: none;
    }

    ul li.active{
      background: #3d4956;
    }

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade

  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .member.page-content-wrapper.counseling-history.massage.report-statistic
      .page-title
        .title
          span 쪽지
        .title-ct 
          span 회원과 주고 받은 쪽지 리스트입니다.
      .page-content
        .container
          .main-top.border-full.bg-fff
            .tabbable-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#tab-11', data-toggle='tab') 
                   span 기간별
                   i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-12', data-toggle='tab') 
                    span 요일별
                    i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-13', data-toggle='tab') 
                    span 시간별
                    i.fa.fa-caret-down(aria-hidden="true")

              ="\n"
              .tab-content
                #tab-11.tab-10.tab-pane.active
                  .content-top
                    .header-tab
                      .navigator-bar
                        ul
                          li
                            a(href="#") 통계 리포트
                            i.fa.fa-angle-right
                          li
                            a(href="#") 기간별 통계
                      .block-search-tab
                        ul.type-filter#filter-tab1
                          li.active
                            a(href="#") 일간
                          li
                            a(href="#") 주간
                          li
                            a(href="#") 월간
                      .block-search-time#select-date-tab1
                        .block-search-date(style="display: block;")
                          .item.icon-next.datepicker-item
                            input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2017/08/23')
                          .item.datepicker-item
                            input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2017/08/24')
                        .block-search-date
                          .item.icon-next.datepicker-item
                            input.form-control.date-picker.search_week(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2016/08/23')
                          .item.datepicker-item
                            input.form-control.date-picker.search_week(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2016/08/24')
                        .block-search-date#style2
                          .item
                            select.form-control.selectpickermember(name='selecttext',title='성명')
                              option(value='0') 01
                              option(value='1') 02
                              option(value='2') 03
                          .item
                            select.form-control.selectpickermember(name='selecttext',title='성명')
                              option(value='0') W14 (03/28 ~ 04/03)
                              option(value='1') W14 (04/28 ~ 05/03)
                              option(value='2') W14 (05/28 ~ 06/03)
                          .item
                            select.form-control.selectpickermember(name='selecttext',title='성명')
                              option(value='0') W14 (03/28 ~ 04/03)
                              option(value='1') W14 (04/28 ~ 05/03)
                              option(value='2') W14 (05/28 ~ 06/03)
                    .main-content(style="padding-left: 90px; padding-right: 90px;")
                      .table-wrapper
                        .table-responsive
                          table.table.table-striped.table-hover.text-center.table-border
                            thead
                              tr
                                th 날짜
                                th 예약수
                                th 상담수
                                th 상담 시간(분)
                                th 상담 금액(원)
                            tbody
                              tr
                                td 합계
                                td 3
                                td 10
                                td 300
                                td 300,000
                              tr
                                td 2016-12-07
                                td 3
                                td 3
                                td 300
                                td 90,000
                              tr
                                td 2016-12-07
                                td 2
                                td 2
                                td 90
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 1
                                td 150
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 5
                                td 150
                                td 90,000
                              tr
                                td 합계
                                td 3
                                td 10
                                td 300
                                td 300,000
                              tr
                                td 2016-12-07
                                td 3
                                td 3
                                td 300
                                td 90,000
                              tr
                                td 2016-12-07
                                td 2
                                td 2
                                td 90
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 1
                                td 150
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 5
                                td 150
                                td 90,000
                              
                        .btn-control-report.download-report
                          button.btn 엑셀 다운로드    
                #tab-12.tab-10.tab-pane
                  .content-top
                    .header-tab
                      .navigator-bar
                        ul
                          li
                            a(href="#") 통계 리포트
                            i.fa.fa-angle-right
                          li
                            a(href="#") 기간별 통계
                      .block-search-tab
                        ul.type-filter
                          li.tab-search-date.active
                            a(href="#") 일간
                          li.tab-search-week
                            a(href="#") 주간
                          li.tab-search-month
                            a(href="#") 월간
                      .block-search-time
                        .block-search-date.search-date.show-input
                          .item.icon-next.datepicker-item
                            input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2017/08/23')
                          .item.datepicker-item
                            input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2017/08/24')
                        .block-search-date.search-week
                          .item.icon-next.datepicker-item
                            input.form-control.date-picker.search_week(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2016/08/23')
                          .item.datepicker-item
                            input.form-control.date-picker.search_week(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2016/08/24')
                        .block-search-date.search-month
                          .item.icon-next.datepicker-item
                            input.form-control.date-picker.month_year(name='month', type='text', data-date-format='mm/yyyy', value="03/2017")
                          .item.datepicker-item
                            input.form-control.date-picker.month_year(name='month', type='text', data-date-format='mm/yyyy', value="04/2017")
                    .main-content(style="padding-left: 90px; padding-right: 90px;")
                      .table-wrapper
                        .table-responsive
                          table.table.table-striped.table-hover.text-center.table-border
                            thead
                              tr
                                th 요일
                                th 예약수
                                th 상담수
                                th 상담 시간(분)
                                th 상담 금액(원)
                            tbody
                              tr
                                td 합계
                                td 3
                                td 10
                                td 300
                                td 300,000
                              tr
                                td 월
                                td 3
                                td 3
                                td 300
                                td 90,000
                              tr
                                td 화
                                td 2
                                td 2
                                td 90
                                td 150,000
                              tr
                                td 수
                                td 1
                                td 1
                                td 150
                                td 150,000
                              tr
                                td 목
                                td 1
                                td 5
                                td 150
                                td 90,000
                              tr
                                td 금
                                td ...
                                td ...
                                td ...
                                td ...
                        .btn-control-report.download-report
                          button.btn 엑셀 다운로드    
                
                #tab-13.tab-10.tab-pane
                  .content-top
                    .header-tab.header-tab-13
                      .navigator-bar
                        ul
                          li
                            a(href="#") 통계 리포트
                            i.fa.fa-angle-right
                          li
                            a(href="#") 기간별 통계
                      
                      .block-search-right
                        span.note-search ※ 최근 30일까지만 조회 가능합니다.
                        .item.datepicker-item
                            input.form-control.date-picker(name='test138', type='text', data-date-format='yyyy/mm/dd', value='2016/08/24')
                    .main-content(style="padding-left: 90px; padding-right: 90px;")
                      .table-wrapper
                        .table-responsive
                          table.table.table-striped.table-hover.text-center.table-border
                            thead
                              tr
                                th 날짜
                                th 예약수
                                th 상담수
                                th 상담 시간(분)
                                th 상담 금액(원)
                            tbody
                              tr
                                td 합계
                                td 3
                                td 10
                                td 300
                                td 300,000
                              tr
                                td 2016-12-07
                                td 3
                                td 3
                                td 300
                                td 90,000
                              tr
                                td 2016-12-07
                                td 2
                                td 2
                                td 90
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 1
                                td 150
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 5
                                td 150
                                td 90,000
                              tr
                                td 합계
                                td 3
                                td 10
                                td 300
                                td 300,000
                              tr
                                td 2016-12-07
                                td 3
                                td 3
                                td 300
                                td 90,000
                              tr
                                td 2016-12-07
                                td 2
                                td 2
                                td 90
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 1
                                td 150
                                td 150,000
                              tr
                                td 2016-12-07
                                td 1
                                td 5
                                td 150
                                td 90,000
                              
                        .btn-control-report.download-report
                          button.btn 엑셀 다운로드 
    include ../includes/footer.jade
  //.page-container
  
  ="\n"
  include ../includes/popupfirstlogin.jade
  
  ="\n"
  include ../includes/popup-psychlogical.jade 
  ="\n"
  include ../includes/popup-psychlogical2.jade 
  ="\n"
  include ../includes/popup-psychlogical3.jade
 
  
