extends ../layouts/master.jade

append titlePage
  title Schedule

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade

  
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade

    ="\n"
    .member.page-content-wrapper.counseling-history.schedule
      .page-title
        .title
          span 내 스케줄
        .title-ct
          span 상담 가능한 시간을 선택하세요..
      .page-content
        .container
          .schedule-tab.border-full.bg-fff
            .tab-main
              .tab-title
                span 설정하기
              .tab-content
                ul
                  li.active
                    a(href="#",data-toggle='tooltip', data-placement='bottom', title='<p>제목 : 화상 심리상담 화상 심리상</p><p>제목 : 화상 심리상담</p><p>기다…</p>')
                      span 서비스 노출
                      span.status On
                  li
                    a(href="#")
                      span 실시간 상담
                      span.status On
                  li
                    a(href="#")
                      span 상담권 허용
                      span.status of
                  li
                    a(href="#")
                      span 상담 쉬는 시간
                      span.status 5분
                  li
                    a(href="#")
                      span 반복 설정
                  li
                    a(href="#")
                      span 스케줄 초기화
          .schedule-content.border-full.bg-fff
            .save-schedule
                button.btn.popup-confim-schedule 일정 저장하기
                a.btn-open-popup.open-popup-calenda(href="#") 일정 저장하기
            .schedule-top
              span.navi.pre 
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              span.title-date 2016년 2월 15일(월) ~ 21(일)
              span.navi.next
                <i class="fa fa-angle-right" aria-hidden="true"></i>

            .schedule-main-content
              .schedule-week
              .schedule-table
                
                .schedule-day
                  ul
                    li
                      span 2.15(월)
                    li
                      span 2.16(화)
                    li
                      span 2.17(수)
                    li.today
                      span 2.18(목)
                    li
                      span 2.19(금)
                    li
                      span 2.20(토)
                    li
                      span 2.21(일)
                .schedule-table-content
                  .schedule-hours
                    ul
                      li
                        span 오전
                        span 07:00
                      li
                        span 오전
                        span 08:00
                      li
                        span 오전
                        span 09:00
                      li
                        span 오전
                        span 010:00
                      li
                        span 오전
                        span 11:00
                      li
                        span 오전
                        span 12:00
                      li
                        span 오전
                        span 01:00
                      li
                        span 오전
                        span 02:00
                      li
                        span 오전
                        span 03:00
                      li
                        span 오전
                        span 04:00
                      li
                        span 오전
                        span 05:00
                      li
                        span 오전
                        span 06:00
                      li
                        span 오전
                        span 07:00
                      li
                        span 오전
                        span 08:00
                      li
                        span 오전
                        span 09:00
                      li
                        span 오전
                        span 10:00
                      li
                        span 오전
                        span 11:00
                      li
                        span 오전
                        span 12:00
                      li
                        span 오전
                        span 01:00
                      li
                        span 오전
                        span 02:00
                      li
                        span 오전
                        span 03:00
                      li
                        span 오전
                        span 04:00
                      li
                        span 오전
                        span 05:00
                      li
                        span 오전
                        span 06:00
                      
                  .table-member-mng
                    table.table.table-striped.table-bordered.table-hover.text-center
                      tbody
                        tr
                          td
                            .click-even 
                          td
                            .click-even 
                          td
                            .click-even 
                          td
                            .click-even 
                          td
                            .click-even 
                          td
                            .click-even 
                          td
                            .click-even 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active.no-border
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td.active 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td ds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td ds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.active content
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td ds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td.activecontent
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td dsds
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                        tr
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
                          td 
            

    include ../includes/footer.jade




          ="\n"
          
            // .block-1
          // .member-main
      // .page-content
    // .member

  //.page-container
  
  
  ="\n"
  include ../includes/popupConfirmDelete.jade 
  ="\n"
  include ../includes/popup-choice-date.jade 
  ="\n"
  include ../includes/popup-confim-schedule.jade 
  
  
