.page-sidebar-wrapper.vetical-menu
  .page-sidebar.navbar-collapse.collapse
    .container
      ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
        //- li.active
        li.menu1
          a(href='home.html')
            span.title 홈

        ="\n"
        li.menu2
          a(href='member.html')
            span.title 상담관리

        ="\n"
        li.menu3
          a(href='product.html')
            span.title 리포트

        ="\n"
        li.menu4
          a(href='board-epilogue.html')
            span.title 고객센터

        ="\n"
      .page-dropdow-menu.hidden
        .container
          .menu-sub1.menu1
            .logomenu
              img.logo-default(src='../../assets/images/logo/logov2.png')

          .menu-sub1.menu2.active
            ul
              li.active
                a(href="#")
                  span 상담예정 내역 
                  span.new-menu
              li
                a(href="#")
                  span 상담내역 
              li
                a(href="#")
                  span 심리검사 
              li
                a(href="#")
                  span 쪽지
              li
                a(href="#")
                  span 쪽지
          .menu-sub1.menu3.active
            ul
              li
                a(href="#")
                  span 정산 리포트
              li
                a(href="#")
                  span 통계 리포트 
          .menu-sub1.menu4
            ul
              li
                a(href="#")
                  span 공지사항 
              li
                a(href="#")
                  span faq 
              li
                a(href="#")
                  span 이용약관 / 개인정보정책 
              li
                a(href="#")
                  span 문의하기




        
// .page-sidebar-wrapper
