#popup-confim-schedule.popup-psychlogical23.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog.popup-inquiry(style="width: 400px;")
    .modal-content
      .modal-header
        h4 스케줄 초기화
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
          p 설정한 스케줄 모두 초기화하겠습니까? 
          p.color888 *단, 회원이 이미 예약한 시간은 초기화되지 않습니다.
        
      .modal-footer.schedule
        a.link2(href="#") 취소하기
        a.link1(href="#") 스케줄 초기화하기
        // Are you sure you want to delete?
// .popupConfirmDelete
