#popup-psychlogical2.popup-psychlogical23.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .modal-ct
          .modal-title
            span 받는 회원 선택
          .modal-main
            ul 
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service', checked)
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
        .modal-ct
          .modal-title
            span 심리검사 선택
          .modal-main
            ul 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service', checked)
                span MCI진로탐색검사
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li.none-active
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
              li.none-active
                .title
                  .radio-checkboxstyle2
                    input(type='checkbox', value='1', name='service')
                span MCI진로탐색검사 
        
      .modal-footer
        .footer-ct
          span.title 심리검사 
            span#total-checkall 1
            | 건,
          span 50,000원 (VAT 포함)  또는 상담권 2매
        a.link1(href="#") 회원에게 심리검사 요청
        // Are you sure you want to delete?
// .popupConfirmDelete
