#popupListv2-facetalk.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4 심리 상담 종료
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .modal-list
          ul
            li
              span Q
              span content
            li
              span A
              span content
            li
              span Q
              span content
            li
              span A
              span content
            li
              span Q
              span content
            li
              span A
              span content
            li
              span Q
              span content
            li
              span A
              span content
            li
              span Q
              span content
            li
              span A
              span content
            li
              span Q
              span content
          // Are you sure you want to delete?
// .popupConfirmDelete
