#popup-massage.popup-psychlogical23.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog(style="width: 400px;")
    .modal-content
      .modal-header
        h4 받은 쪽지
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .modal-massage
          .row
            .col-md-3
              span.color888 보낸 회원
            .col-md-9
              span 홍길동   
              span asd@aimmed.com
          .row
            .col-md-3
              span.color888 받은 일시
            .col-md-9   
              span 2016-03-01 09:20:00 
          .modal-main
            textarea.rw-ckeditor.form-control(name='editor2', rows='6', data-error-container='#editor2_error')
        
      .modal-footer
        a.link1(href="#") 답장쓰기
        // Are you sure you want to delete?
// .popupConfirmDelete
