#popupList-facechat.modal.fade.popup-facetalk.face-chat(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4 상담 메모
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .modal-top
          span.title 내담자 이름
          span.content 김선아
        .modal-chat
          .title
            span 상담 중에 가급적 필요한 내용만 적어주세요. 다른 상담사들은 볼 수 없습니다
          textarea.rw-ckeditor.form-control(name='editor2', rows='6', data-error-container='#editor2_error')
          .footer
            button 상담메모 입력
        .modal-main
          .modal-main-header
            span.title 상세 메모
          #owl-demo.owl-carousel
            .item
              .item-date
                span 2016년 12월
              .item-content
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월) 
                      span.time-comment 15:10:30
                    .date-time 
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat.style2
                    .date-time 
                     span.time-comment 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월)
                      span.time-comment 15:10:30
                    .date-time 
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat.style2
                    .date-time 
                     span.time-comment 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
            .item
              .item-date
                span 2017년 01월
              .item-content
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월)
                    .date-time 
                     span.time-comment 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat.style2
                    .date-time 
                     span.time-comment 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월)
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat.style2
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월)
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                .item-ct
                  .item-chat
                    .title 
                      span 2016-12-03 (월)
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고
                  .item-chat
                    .date-time 
                     span 15:10:30
                     span.remove
                    .content
                      p 자녀가 둘이 있는데 아들은 모범생으로 전교 1등, 딸은 날라리로 전교 꼴등이라 함 장남인 아들이 주로 예쁨을 받고

          // Are you sure you want to delete?
// .popupConfirmDelete
