#popup-inquiry.popup-psychlogical23.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog.popup-inquiry(style="width: 400px;")
    .modal-content
      .modal-header
        h4 받은 쪽지
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
          p 문의 접수가 완료되었습니다.
          p 입력하신 메일로 빠른 시일 내에 답변 드리겠습니다.
          
        
      .modal-footer
        a.link1(href="#") 확인
        // Are you sure you want to delete?
// .popupConfirmDelete
