#popup-psychlogical.popup-psychlogical.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4 심리검사 사이트 정보
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .modal-body-title
          span 심리검사 사이트 접속 시 아래의 계정으로 로그인하시면 됩니다.
        .modal-list
          ul
            li
              span.title 가이던스
              span 아이디
              span.color4 hello123
              span 비밀번호
              span.color4 19660218
            li
              span.title 어세스타
              span 직접 가입하신 계정으로 로그인
        .modal-footer
          a.link1.link-update1(href="#") 가이던스 바로가기
          a.link2.link-update1(href="#") 어세스타 바로가기
          // Are you sure you want to delete?
// .popupConfirmDelete
