#popup-psychlogical3.popup-psychlogical23.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body.popup3
        .modal-ct
          .modal-title
            span 받는 회원 선택
            .search3
              input.form-control(type='text', name='name', value='홍길동')
              button 검색
          .modal-main
            ul 
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service', checked)
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service', checked)
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service', checked)
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service', checked)
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
              li
                .title
                  .checkbox-list.input-checkboxstyle2(data-error-container='#form_2_services_error')
                    label
                      input.radio1(type='radio', value='1', name='service')
                span.ct 정유미
                span yumb_bling@
        .modal-ct
          .modal-title
            span 심리검사 선택
            span.total 0 / 500
          .modal-main
            textarea.rw-ckeditor.form-control(name='editor2', rows='6', data-error-container='#editor2_error')
        
      .modal-footer
        a.link1(href="#") 회원에게 심리검사 요청
        // Are you sure you want to delete?
// .popupConfirmDelete
