#popupLogout-facetalk.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4 심리 상담 종료
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
          strong 삭제하시겠습니까?
          // Are you sure you want to delete?
      .modal-footer
        button.btn(href="#") 취소하기
        button.btn.close-face-popup(type='button', data-dismiss='modal') 상담종료
// .popupConfirmDelete
