#popup-faq-new.modal.fade.popup-facetalk.popup-faq(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog.popup-faq-new
    .modal-content
      .modal-header
        h4 
          span 마인드체크 정보
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .title
          p 마인드체크는 상담 시 위기사례 및 자살사고에 대한 인지에 도움이 되기 위한 간단한 설문입니다. 인적사항 외 심리상태 질문은 총 6문항이며, 배점은 0~4점으로 이루어집니다. 총 점은 24점이며, 18점 이상인 경우 위기사례에 해당합니다.
        .modal-list.counseling-history.detail.notice-detail
          .main-ct.return-faq
            .main-item
              #accordion.item-content
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center 
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                .item.panel.panel-default
                  .item-header
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                      .col-md-6.text-center 2017년 05월 24일
                      .col-md-6.text-center
                        span 12점
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
                      .drop-item
                        .col-md-6 
                          p 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요? 혹시 결혼을 하셨나요?
                        .col-md-6 
                          p 혹시
          // Are you sure you want to delete?
// .popupConfirmDelete
