#popup-faq-tab.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog.popup-faq-tab(style="width:600px;")
    .modal-content
      .modal-header
        h4.text-center
          span 마인드체크 정보
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .tabbable-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#tab-11', data-toggle='tab') 
                   span 스트레스
                   i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-12', data-toggle='tab') 
                    span 우울
                    i.fa.fa-caret-down(aria-hidden="true")
                li
                  a(href='#tab-13', data-toggle='tab') 
                    span 불안
                    i.fa.fa-caret-down(aria-hidden="true")

              ="\n"
              .tab-content
                #tab-11.tab-10.tab-pane.active
                  p.title 스트레스 자가진단 항목은 총 5개 문항이며, 5문항의 평균값으로 결과를 산출합니다.
                  .tab-ct-top
                    .item.color 낮음  
                    .item.color 중간  
                    .item.color 높음 
                  .tab-ct-top
                    .item 0 ~ 1.6  
                    .item 1.8 ~ 2.6  
                    .item 2.8 이상  
                  .tab-content
                    .item
                      .item-left 2017년 05월 24일
                      .item-right 1.2
                    .item
                      .item-left 2017년 05월 24일
                      .item-right 1.2
                    .item
                      .item-left 2017년 05월 24일
                      .item-right 1.2
                    .item
                      .item-left 2017년 05월 24일
                      .item-right 1.2
                    .item
                      .item-left 2017년 05월 24일
                      .item-right 1.2
                #tab-12.tab-10.tab-pane
                  span ewwew   
                
                #tab-13.tab-10.tab-pane
                  span dsdsds
                              
                                      
          // Are you sure you want to delete?
// .popupConfirmDelete
