.popup-register.modal.fade.popup-facetalk(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        span.search search
        span.color2 심리상담사 등록 신청 전
        span 아래의 내용을 확인해주세요!
        button.close-face(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .item
          .item-left
            .title 01
            .content
              span 심리상담 진행 
              span 관련 내용
          .item-right
            p . 내담자는 모바일 App에서, 심리상담사는 Web에서 상담 진행 (태블릿 PC 가능)
            p . 상담 전 내담자의 문진 검토부터 실제 상담, 심리검사 요청 및 결과 상담까지 오프라인 상담센터와 유사한 형태의 서비스 기능 제공
        .item
          .item-left
            .title 02
            .content
              span 지원 
              span 자격
          .item-right
            p . (사)한국상담심리학회, (사)한국상담학회 2급 이상 자격증을 소지하신 분
            p . 카메라 기능이 장착된 데스크탑/노트북을 활용하여 화상상담이 가능하신 분
            p . 2년 이상 상담 경력자 우대
        .item
          .item-left
            .title 03
            .content
              span 수익 
              span 분배 
          .item-right
            p . 상담 비용은 심리상담사의 경력이나 내담자의 만족도 등 내부 정책에 따라 차등 설정될 수 있으며 수익 분배는 상담 비용의 70~80% 지급 (세금 별도)
        .item
          .item-left
            .title 04
            .content
              span 심리상담사 
              span 등록 신청 방법 
          .item-right
            p . Web페이지에서 양식에 맞게 작성하고, 증명 서류 업로드
            p . 증명 서류 : 이력서 1부, 최종학력 졸업증명서 1부, 자격증 사본
        .item
          .item-left
            .title 05
            .content
              span 문의처 
          .item-right
            p.email hello@aimmed.com
        // Are you sure you want to delete?
// .popupConfirmDelete
