/* --------------------------------------------------------------------- */
/* COMMON STYLING
/* --------------------------------------------------------------------- */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.rw-f12 {
  font-size: 12px;
}
.rw-f14 {
  font-size: 14px;
}
.rw-f16 {
  font-size: 16px;
}
.rw-f18 {
  font-size: 18px;
}
.rw-f20 {
  font-size: 20px;
}
.rw-f22 {
  font-size: 22px;
}
.rw-f24 {
  font-size: 24px;
}
.rw-f26 {
  font-size: 26px;
}
.rw-f28 {
  font-size: 28px;
}
.rw-f30 {
  font-size: 30px;
}
.rw-f32 {
  font-size: 32px;
}
.rw-f34 {
  font-size: 34px;
}
.rw-f36 {
  font-size: 36px;
}
.rw-f38 {
  font-size: 38px;
}
.rw-f40 {
  font-size: 40px;
}
.rw-f42 {
  font-size: 42px;
}
.rw-f44 {
  font-size: 44px;
}
.rw-f46 {
  font-size: 46px;
}
.rw-f48 {
  font-size: 48px;
}
.rw-f50 {
  font-size: 50px;
}
.rw-f52 {
  font-size: 52px;
}
.rw-f54 {
  font-size: 54px;
}
.rw-f56 {
  font-size: 56px;
}
.rw-f58 {
  font-size: 58px;
}
.rw-f60 {
  font-size: 60px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: #26a69a;
}
a:hover {
  color: #1c7d74;
}
a:focus {
  color: #26a69a;
}
.rw-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.rw-show {
  display: block !important;
}
.rw-hidden {
  display: none !important;
}
.rw-margin-auto {
  margin: auto;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span,
.page-bar .page-breadcrumb > li > i {
  font-size: 34px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
}
.primary-font {
  font-family: 'Nanum Gothic', sans-serif !important;
}
.chart,
.pie,
.bars {
  font-family: 'Nanum Gothic', sans-serif !important;
}
.label {
  font-family: 'Nanum Gothic', sans-serif;
}
.table.table-light > thead > tr > th {
  font-family: 'Nanum Gothic', sans-serif;
}
.rw-pb-50 {
  padding-bottom: 50px;
}
.rw-border-top {
  border-top: 1px solid #e1e1e1;
}
.rw-border-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.rw-overflow-ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rw-gap {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.rw-bg-white {
  background-color: #fff;
}
.rw-bg-gray {
  background-color: #f5f5f5;
}
.tabbable-custom > .nav-tabs > li > a {
  font-size: 16px;
}
.tabbable-custom > .nav-tabs > li > a,
.tabbable-custom > .nav-tabs > li > a:hover {
  color: #555;
}
.tabbable-custom > .nav-tabs > li.active {
  border-color: #26a69a;
}
.tabbable-custom > .nav-tabs > li.active > a,
.tabbable-custom > .nav-tabs > li.active > a:hover {
  font-weight: bold;
  color: #26a69a;
}
.rw-btn-radio-wrapper .btn.active {
  color: #fff;
  border-color: #26a69a;
  background: #26a69a;
}
.rw-btn-checkbox-wrapper .btn.active {
  color: #fff;
  background: #26a69a;
}
.rw-badge-o {
  color: #26a69a;
}
.rw-badge-x {
  color: #F3565D;
}
.rw-col-wrapper:before,
.rw-col-wrapper:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-col-wrapper .rw-col {
  float: left;
}
.rw-col-wrapper .rw-col-left {
  float: left;
}
.rw-col-wrapper .rw-col-right {
  float: right;
}
table.text-center tr th,
table.text-center tr td {
  text-align: center;
}
.rw-dp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
}
.rw-dp-table-caption {
  display: table-caption;
}
.rw-dp-table-row {
  display: table-row;
}
.rw-dp-table-cell {
  display: table-cell;
  vertical-align: top;
}
.rw-dp-table-cell.align-top {
  vertical-align: top;
}
.rw-dp-table-cell.align-middle {
  vertical-align: middle;
}
.rw-dp-table-cell.align-bottom {
  vertical-align: bottom;
}
.rw-dp-table-cell.no-border {
  border: 0 none;
}
.rw-dp-table.align-top .rw-dp-table-cell {
  vertical-align: top;
}
.rw-dp-table.align-middle .rw-dp-table-cell {
  vertical-align: middle;
}
.rw-dp-table.align-bottom .rw-dp-table-cell {
  vertical-align: bottom;
}
.rw-dp-table.no-border .rw-dp-table-cell {
  border: 0 none;
}
.rw-dp-ib {
  display: inline-block;
  vertical-align: top;
}
.rw-dp-ib.align-top {
  vertical-align: top;
}
.rw-dp-ib.align-middle {
  vertical-align: middle;
}
.rw-dp-ib.align-bottom {
  vertical-align: bottom;
}
.modal-header:before,
.modal-body:before,
.modal-footer:before,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-pagination {
  display: block;
  width: 100%;
  text-align: center;
}
.rw-pagination:before,
.rw-pagination:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-pagination .pagination {
  display: inline-block;
  vertical-align: middle;
}
.rw-pagination .pagination > li > a:focus,
.rw-pagination .pagination > li > span:focus {
  color: #5b9bd1;
  background: #fff;
}
.rw-pagination .pagination .active > a,
.rw-pagination .pagination .active > a:hover {
  color: #fff;
  background: #26a69a;
  border-color: #26a69a;
}
.rw-container-style-1 {
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
}
.rw-container-style-1:before,
.rw-container-style-1:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-block-style-1:before,
.rw-block-style-1:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-block-style-1 .block-1-thumb {
  width: 200px;
}
.rw-block-style-1 .block-1-thumb-img {
  display: block;
  width: 170px;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
}
.rw-block-style-1 .block-1-title {
  margin-top: 0;
}
.rw-block-style-1 .block-1-info table td {
  padding: 3px 15px;
}
.rw-block-style-1 .block-1-info .rw-dp-table {
  width: auto;
}
.rw-block-style-1 .block-1-info .col-table table {
  margin-right: 20px;
}
@media screen and (min-width: 1200px) {
  .rw-modal-large .modal-dialog {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  .rw-modal-large .modal-dialog {
    width: auto;
  }
}
.rw-thumb-style-1 .thumb-img {
  display: block;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
.rw-file-upload .no-image {
  display: none;
}
.rw-file-upload .preview-image {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}
.rw-file-upload .preview-image img {
  margin-left: auto;
  margin-right: auto;
}
.rw-file-upload .show-file-info {
  min-height: 34px;
  line-height: 34px;
  height: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.rw-file-upload .btn-delete {
  cursor: pointer;
}
@media screen and (max-width: 1919px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1365px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1199px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 991px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 479px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 319px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 320px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 480px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1366px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1920px) {
  .test-responsive {
    color: #fff;
  }
}
/* --------------------------------------------------------------------- */
/* .login
/* --------------------------------------------------------------------- */
.login-page {
  background: #364150;
}
.login {
  padding-top: 100px;
}
.login .logo {
  text-align: center;
  margin-bottom: 80px;
}
.login .form-login-wrapper {
  display: block;
  width: 100%;
}
.login .form-login {
  width: 400px;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
}
.login .form-login .form-header {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #26a69a;
  margin-bottom: 20px;
}
.login .form-login .inputbox {
  display: block;
  width: 100%;
  height: 46px;
  color: #5A5A5A;
  background: #EBF3FF;
  border: 0 none;
  box-shadow: none;
  outline: 0;
  padding: 0 10px;
}
.login .form-login .remember-checkbox {
  font-weight: normal;
  color: #474747;
  cursor: pointer;
  margin-bottom: 0;
}
.login .form-login .remember-checkbox input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-top: 0;
  margin-right: 10px;
}
.login .form-login .btn-login {
  display: block;
  width: 100%;
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: #26a69a;
  border: 0 none;
  box-shadow: none;
  outline: 0;
  padding: 12px 10px;
}
.login .form-login .btn-login:hover {
  background: #1c7d74;
}
.login .error-message {
  color: #F74949;
}
/* --------------------------------------------------------------------- */
/* .header
/* --------------------------------------------------------------------- */
.header {
  /**/
}
/* --------------------------------------------------------------------- */
/* .footer
/* --------------------------------------------------------------------- */
.footer {
  /**/
}
/* --------------------------------------------------------------------- */
/* .header
/* --------------------------------------------------------------------- */
.page-name {
  /**/
}
.portlet-title .caption {
  color: #333333;
}
.text-left {
  text-align: left !important;
}
.border-dashed {
  width: 100%;
  height: 1px;
  border-top: 1px dashed #4A7EBB;
  margin-bottom: 23px;
}
.controls-button {
  margin: 5px 0 8px;
}
.nav-menu {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #dddddd;
}
.nav-menu li {
  display: inline-block;
}
.nav-menu li.active a {
  background-color: #eee;
}
.nav-menu li > a {
  font-weight: bold;
  font-size: 18px;
}
.nav-right {
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}
.nav-right li {
  display: inline-block;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
.border_control {
  border: 1px solid #dddddd;
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.border_control .group_item {
  display: table-cell;
  vertical-align: middle;
  padding: 8px 5px;
}
.border_control .group_item .sub_label {
  display: table-cell;
  width: 35px;
  vertical-align: middle;
}
.border_control .group_item .sub_input {
  display: table-cell;
}
.border_control .group_item .sub_input .item_time {
  display: inline-block;
  vertical-align: middle;
}
.border_control .group_item .sub_input .item_time .input-group-addon {
  border: 1px solid #dddddd;
  position: relative;
  padding: 9px 12px;
}
.border_control .add_item {
  display: block;
}
.border_control .trash {
  border-left: 1px solid #dddddd;
  padding: 8px 10px;
  width: 16px;
}
.border_control .fa-remove {
  font-size: 18px;
}
.item_inline {
  display: inline-block;
  vertical-align: middle;
}
.btn-sumbit {
  padding: 7px 25px;
}
.reviews_result {
  display: inline-block;
  margin-left: 10px;
}
.reviews_result ul.reviews_list {
  margin: 22px 0;
  padding: 0;
  display: inline-block;
}
.reviews_result ul.reviews_list li {
  display: inline-block;
  margin: 0;
}
.reviews_result ul.reviews_list li .star_item {
  width: 19px;
  height: 19px;
}
.reviews_result ul.reviews_list li .star_item img {
  width: 19px;
}
.reviews_result .number_review {
  font-size: 20px;
  color: #888888;
  padding-left: 5px;
  position: relative;
  top: 5px;
  display: inline-block;
}
.list-comment {
  width: 100%;
  padding-top: 20px;
}
.list-comment .item-comment {
  width: 100%;
  border-top: 1px solid #4A7EBB;
  padding: 15px 0;
  display: inline-block;
}
.list-comment .item-comment .member-info {
  margin-bottom: 5px;
}
.list-comment .item-comment .member-info .space {
  padding: 0 7px;
}
.list-comment .item-comment .reviews-result {
  margin: 0 0 5px;
  padding: 0;
}
.list-comment .item-comment .reviews-result li {
  display: inline-block;
  margin: 0;
}
.list-comment .item-comment .reviews-result li .item_reviews {
  width: 14px;
  height: 15px;
}
.list-comment .item-comment .reviews-result li .item_reviews img {
  width: 14px;
}
.list-comment .item-comment .item-question {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.list-comment .item-comment .item-answer {
  width: 100%;
  padding: 20px 0;
  display: inline-block;
  border-top: 1px dashed #4A7EBB;
}
.list-comment .item-comment .item-answer .avatar {
  width: 5%;
  display: table-cell;
  padding-left: 40px;
}
.list-comment .item-comment .item-answer .avatar img {
  max-width: 35px;
}
.list-comment .item-comment .item-answer .content-anwser {
  width: 70%;
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.list-comment .last-item {
  border-bottom: 1px solid #4A7EBB;
}
.border-full {
  border: 1px solid #cdcdcd;
}
.bold {
  font-weight: bold;
}
.page-logo {
  padding-left: 0 !important;
}
.page-logo img {
  float: left;
  margin-top: 12px !important;
}
.page-logo span {
  float: left;
  color: #fff;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 16px;
}
.page-sidebar-wrapper {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 44px;
}
.page-sidebar-wrapper .page-sidebar {
  width: 100% !important;
  position: relative;
  display: block;
}
.page-sidebar-wrapper .page-sidebar ul {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.page-sidebar-wrapper .page-sidebar ul li {
  display: inline-block;
  height: 44px;
}
.page-sidebar-wrapper .page-sidebar ul li a {
  margin: 0;
  padding: 0 30px;
  line-height: 44px;
  border: none;
}
.page-sidebar-wrapper .page-sidebar ul li a:hover {
  border: none;
  background: #1caf9a;
  color: #fff;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
  border: none !important;
}
.page-content-wrapper .page-content {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.page-content-wrapper .home-top {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.page-content-wrapper .home-top span.bold {
  margin-left: 20px;
}
.page-content-wrapper .home-top2 {
  padding: 20px;
  margin-bottom: 5px;
}
.page-content-wrapper .home-top2 .top {
  margin-bottom: 20px;
}
.page-content-wrapper .home-top2 .top a {
  text-decoration: underline;
}
.page-content-wrapper .home-top2 .content .item {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin-bottom: 15px;
}
.page-content-wrapper .home-top2 .content .item .border-full {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 48px;
  padding: 0 15px;
}
.page-content-wrapper .home-top2 .content .item .border-full span {
  margin-right: 10px;
}
.page-content-wrapper .home-top3 {
  margin-bottom: 5px;
}
.page-content-wrapper .home-top3 .title {
  margin-bottom: 20px;
}
.page-content-wrapper .home-top3 .title .bold {
  font-size: 16px;
}
.page-content-wrapper .home-top3 .content {
  position: relative;
  padding: 15px;
  padding-bottom: 60px;
  height: 184px;
}
.page-content-wrapper .home-top3 .content .md-ct {
  display: inline-block;
  width: 100%;
}
.page-content-wrapper .home-top3 .content .md-ct .item {
  float: left;
  width: 20%;
  text-align: center;
}
.page-content-wrapper .home-top3 .content .md-ct .item:first-child {
  width: 40%;
}
.page-content-wrapper .home-top3 .content .md-ct .item .bold {
  font-size: 16px;
}
.page-content-wrapper .home-top3 .content .md-bt {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  border-top: 1px solid #cdcdcd;
  line-height: 38px;
  text-align: center;
  background: #f3f3f3;
}
.page-content-wrapper .home-top3 .content .title-right {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.page-content-wrapper .home-top3 .content .item-right {
  margin-bottom: 20px;
}
.page-content-wrapper .home-top3 .content .item-right:last-child {
  margin-bottom: 0;
}
.page-content-wrapper .home-top3 .content .item-right .right {
  font-size: 22px;
  float: right;
  text-decoration: underline;
}
.page-content-wrapper .home-top3 .content.v2 .item-right {
  margin-bottom: 20px;
  padding-top: 15px;
}
.page-content-wrapper .home-top4 {
  margin-bottom: 40px;
}
.page-content-wrapper .home-top4 .content {
  padding: 15px;
}
.page-content-wrapper .home-top4 .content .top {
  margin-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
}
.page-content-wrapper .home-top4 .content .top .title {
  font-weight: bold;
}
