.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    .page-logo
      a(href='home.html')
        img.logo-default(src='../../assets/images/logo/logo11.png', alt='logo')
    // .page-logo 
    .profile
      .profile_pic
        img.profile_img(src='../../assets/images/avatar-talk.jpg', alt='...')
      .profile_info
        span Welcome,
        h3 John Doe
    ul.sidebar-menu
      li
        a(href='#')
          i.fa.fa-user-o
          span Quan ly thanh vien
          i.fa.fa-angle-left.pull-right
        ul.sidebar-submenu
          li
            a(href='../admin/push-list.html')
              i.fa.fa-angle-double-right
              |  Dashboard v1
            ul.sidebar-submenu
              li
                a(href='../admin/push-list.html')
                  i.fa.fa-angle-double-right
                  |  Dashboard v1
              li
                a(href='../../index2.html')
                  i.fa.fa-angle-double-right
                  |  Dashboard v2
          li
            a(href='../../index2.html')
              i.fa.fa-angle-double-right
              |  Dashboard v2
      li
        a(href='#')
          i.fa.fa-user-md
          span Quan ly set duyet
          span.label.label-primary.pull-right 4
        ul.sidebar-submenu(style='display: none;')
          li
            a(href='top-nav.html')
              i.fa.fa-angle-double-right
              |  Top Navigation
          li
            a(href='boxed.html')
              i.fa.fa-angle-double-right
              |  Boxed
          li
            a(href='fixed.html')
              i.fa.fa-angle-double-right
              |  Fixed
          li
            a(href='collapsed-sidebar.html')
              i.fa.fa-angle-double-right
              |  Collapsed Sidebar
      li
        a(href='../widgets.html')
          i.fa.fa-th
          span Quan ly van hanh
      li
        a(href='#')
          i.fa.fa-pencil-square-o
          span Quan ly content
          i.fa.fa-angle-left.pull-right
        ul.sidebar-submenu
          li
            a(href='../charts/chartjs.html')
              i.fa.fa-angle-double-right
              |  ChartJS
          li
            a(href='../charts/morris.html')
              i.fa.fa-angle-double-right
              |  Morris
          li
            a(href='../charts/flot.html')
              i.fa.fa-angle-double-right
              |  Flot
          li
            a(href='../charts/inline.html')
              i.fa.fa-angle-double-right
              |  Inline charts
      li
        a(href='#')
          i.fa.fa-laptop
          span Quan ly thanh toan
          i.fa.fa-angle-left.pull-right
        ul.sidebar-submenu
          li
            a(href='../UI/general.html')
              i.fa.fa-angle-double-right
              |  General
          li
            a(href='../UI/icons.html')
              i.fa.fa-angle-double-right
              |  Icons
          li
            a(href='../UI/buttons.html')
              i.fa.fa-angle-double-right
              |  Buttons
          li
            a(href='../UI/sliders.html')
              i.fa.fa-angle-double-right
              |  Sliders
          li
            a(href='../UI/timeline.html')
              i.fa.fa-angle-double-right
              |  Timeline
          li
            a(href='../UI/modals.html')
              i.fa.fa-angle-double-right
              |  Modals
      li
        a(href='#')
          i.fa.fa-edit
          span Quan ly Cs
          i.fa.fa-angle-left.pull-right
        ul.sidebar-submenu
          li
            a(href='../forms/general.html')
              i.fa.fa-angle-double-right
              |  General Elements
          li
            a(href='../forms/advanced.html')
              i.fa.fa-angle-double-right
              |  Advanced Elements
          li
            a(href='../forms/editors.html')
              i.fa.fa-angle-double-right
              |  Editors
      li
        a(href='#')
          i.fa.fa-table
          span Thanh toan loi nhuan
          i.fa.fa-angle-left.pull-right
        ul.sidebar-submenu
          li
            a(href='../tables/simple.html')
              i.fa.fa-angle-double-right
              |  Simple tables
          li
            a(href='../tables/data.html')
              i.fa.fa-angle-double-right
              |  Data tables
      li
        a(href='../calendar.html')
          i.fa.fa-calendar
          span Thong ke
          small.label.pull-right.label-danger 3
      li
        a(href='../mailbox/mailbox.html')
          i.fa.fa-user-o
          span Quan ly tai khoan
          small.label.pull-right.label-warning 12
        

// .page-sidebar-wrapper
